@import "./NavBar.css";
@import "./HomePage.css";
@import "./LogInPage.css";
@import "./ReviewPage.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Roboto+Mono:wght@200&family=Short+Stack&display=swap');

:root {

  --background-grey: #ddd7df;
  --box-grey: #faedf7;
  --border-grey: #8c8c8e;
  --shadow-grey: #6c6c6e;
  --header-grey: #b8b7ba;
  --hightlight-grey: #fff7ff;

  --hightlight-hover: #efe7ef;
  --box-hover: #ddd7df;
  --background-hover: #cdc7cf;

  --hightlight-active: #dfd7df;
  --box-active: #cdc7cf;
  --background-active: #bdb7bf;
  
  --header-purple: #b599e7;
  --highlight-purple: #c9c9f5;
  --nav-purple: #816bbb;
  --border-purple: #4a1fb7;

  --key-blue: #4f78fe;
  --key-green: #57e5a4;
  --key-red: #ff5739;
  --key-yellow: #eed271;

  --active-green: #a0ffe1;
  --active-red: #ffa0b8;

  --error-background: rgb(238, 153, 164);
  --error-border: rgb(151, 21, 21);

}

.App {

  text-align: center;
  min-height: 100vh;
  margin: auto auto;
  font-family: 'Roboto Mono', monospace;

  background-color: var(--background-grey);
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, var(--box-grey), var(--box-grey) 25px, var(--background-grey) 25px, var(--background-grey) 50px );

}

/* * {

  border: 1px solid red;

} */

[hidden] { 
  
  display: none !important; 

}

.bold {

  font-weight: bold;

}

.italics {

  font-style: italic;

}

section {

  font-size: 18px;

}

button {

  cursor: pointer;

}

.header {

  cursor: pointer;
  background-color: var(--header-purple);
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-areas: 
  '. text logo';

}

.header-text {

  grid-area: text;
  font-weight: 1000;
  margin: 0;
  font-size: 3em;
  padding: 10px;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;

}

.header-logo {

  grid-area: logo;
  height: 80px;
  margin-top: 5px;

}

.background-text {

  background-color: #ffffff7f;
  width: fit-content;
  margin: auto;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: -10px

}

.background-header {

  background-color: #ffffff7f;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 10px;

}

.error-page {

  display: block;
  padding-top: 30px;

}

.error-page > img {

  display: block;
  margin: auto;

}

.error-message {

  display: inline-block;
  background-color: var(--error-background);
  color: var(--error-border);
  border: 2px solid var(--error-border);
  font-family: 'Arial';
  padding: 7px;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 6px 6px 20px var(--shadow-grey);
  margin-bottom: 25px;
  margin-top: 15px;

}

.blue {

  color: var(--key-blue)

}

.green {

  color: var(--key-green)

}

.red {

  color: var(--key-red)

}

.yellow {

  color: var(--key-yellow)

}

.blue-border {

  border: 3px solid var(--key-blue)

}

.green-border {

  border: 3px solid var(--key-green)

}

.red-border {

  border: 3px solid var(--key-red)

}

.yellow-border {

  border: 3px solid var(--key-yellow)

}

@media only screen and (max-width: 550px) {

  section, textarea {

    font-size: 15px;

  }

  .header {

    display: block;

  }

  .header-text {

    font-size: 2.3em;

  }

  .header-logo {

    display: none;

  }

}