@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Short+Stack&display=swap');

:root {

  --background-grey: #ddd7df;
  --box-grey: #faedf7;
  --border-grey: #8c8c8e;
  --shadow-grey: #6c6c6e;
  --header-grey: #b8b7ba;
  --hightlight-grey: #fff7ff;

  /* --hightlight-hover: #efe7ef; */
  --box-hover: #ddd7df;
  --background-hover: #cdc7cf;

  /* --hightlight-active: #dfd7df; */
  --box-active: #cdc7cf;
  --background-active: #bdb7bf;

  --key-blue: #0b2fe5;
  --key-green: #00d771;
  --key-red: #ff0018;
  --key-yellow: #e6b924;

  --error-background: rgb(238, 153, 164);
  --error-border: rgb(151, 21, 21);

}

.App {

  text-align: center;
  min-height: 100vh;
  margin: auto auto;
  font-family: 'Roboto Mono', monospace;

  background-color: var(--background-grey);
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, var(--box-grey), var(--box-grey) 25px, var(--background-grey) 25px, var(--background-grey) 50px );

}

/* * {

  border: 1px solid red;

} */

[hidden] { display: none !important; }

section {

  font-size: 20px;

}

button {

  cursor: pointer;

}

.header {

  margin: 0;
  font-weight: 1000;
  font-size: 2.3em;
  padding: 10px;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  cursor: pointer;
  background-color: var(--header-grey);

}

.error-message {

  display: inline-block;
  background-color: var(--error-background);
  color: var(--error-border);
  border: 2px solid var(--error-border);
  font-family: 'Arial';
  padding: 7px;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 6px 6px 20px var(--shadow-grey);

}

.blue {

  color: var(--key-blue)

}

.green {

  color: var(--key-green)

}

.red {

  color: var(--key-red)

}

.yellow {

  color: var(--key-yellow)

}

.blue-border {

  border: 3px solid var(--key-blue)

}

.green-border {

  border: 3px solid var(--key-green)

}

.red-border {

  border: 3px solid var(--key-red)

}

.yellow-border {

  border: 3px solid var(--key-yellow)

}

@media only screen and (max-width: 550px) {

  section {

    font-size: 17px;

  }

}