.log-in-box {

  background: linear-gradient(var(--box-grey), var(--box-hover));
  box-shadow: 8px 8px 20px var(--shadow-grey);
  border-radius: 12px;
  margin: 30px 30px 60px 30px;

}

.log-in-box > h3 {

  text-align: left;
  margin: 20px 20px 20px 20px;

}

.log-in-box > form > label {

  display: grid;
  grid-template-columns: 140px auto 30px;
  margin: 10px 0px;

}

.log-in-box > form > label > input {

  min-width: 0px;
  padding-left: 5px;
  font-family: 'Atkinson Hyperlegible', sans-serif;

}

.log-in-box > form > label > select {

  min-width: 0px;
  padding-left: 5px;
  font-family: 'Atkinson Hyperlegible', sans-serif;

}

.log-in-box > form > button {

  margin: 10px 0px 15px 0px;
  padding: 5px 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  height: 3em;

}

.log-in-page {

  padding-bottom: 1px;

}


@media only screen and (min-width: 1150px) {

  .log-in-box {

    width: 1090px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
  
  }

}

.write-review-body {

  min-width: 0px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  width: 95%;
  height: 8em;
  vertical-align: text-top;
  resize: none;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--header-grey);
  padding: 8px;
  border-radius: 10px;

}

.write-review-body-tag {

  margin-top: 15px;

}