.nav-bar {

    margin: 0;
    padding: 10px;
    background-color: var(--nav-purple);
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid var(--highlight-purple);
    border-bottom: 3px solid var(--border-purple);
  
}

.nav-bar li {

    display: inline;
    white-space: nowrap;
    font-size:12px;

}

a {

    background-color: var(--background-grey);
    color: black;
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px inset, rgba(0, 0, 0, 0.1) 0px -5px 5px 0px inset, rgba(0, 0, 0, 0.12) 0px -5px 5px 0px inset;
    font-family:  'Roboto Mono', monospace;
    height: 18px;
    line-height: 22px;

}

a:hover {

    background-color: var(--background-hover);

}

a:active {

    background-color: var(--background-active);

}

.nav-bar--logged-in button {

    background-color: var(--background-grey);
    color: black;
    text-decoration: none;
    padding: 4px 6px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px inset, rgba(0, 0, 0, 0.1) 0px -5px 5px 0px inset, rgba(0, 0, 0, 0.12) 0px -5px 5px 0px inset;
    border: 0;
    font-size: 12px;
    height: 23px;
    line-height: 15px;
    font-family: 'Roboto Mono', monospace;

}

.nav-bar--logged-in button:hover {

    background-color: var(--background-hover);

}

.nav-bar--logged-in button:active {

    background-color: var(--background-active);

}

.nav-bar--logged-in link {

    background-color: var(--box-grey);
    

}

.nav-bar--logged-in {

    margin: 0;
    padding: 10px;
    background-color: var(--nav-purple);
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas:
    'menu user';
    border-top: 2px solid var(--highlight-purple);
    border-bottom: 3px solid var(--border-purple);
    align-items: center;

}

.nav-bar--logged-in > div {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-area: menu;
    row-gap: 10px;

}

.nav-bar--logged-in li {

    display: inline;
    white-space: nowrap;
    font-size:12px;

}

.current-user {

    background-color: var(--highlight-purple);
    opacity: 0.72;
    border-radius: 5px;
    padding: 3px 6px;
    grid-area: user;

}

.current-user:hover {

    background-color: var(--hover-purple);

}

.current-user:active {

    background-color: var(--header-purple);

}